/* BACKGROUND */
body {
  background: #0e0e0e;
  color: #fff;
}

/* FILTER PANEL */
.filter-panel {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 12px;
  height: 100%;
}

.filter-title {
  color: #d4a373;
  font-weight: bold;
}

.filter-box {
  margin-top: 10px;
}

/* PRODUCT SECTION */
.product-section {
  padding: 20px;
}

.product-heading {
  background: #1c1c1c;
  padding: 15px;
  border-radius: 10px;
  color: #d4a373;
  text-align: center;
}

/* GRID */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/* CARD */
.product-card {
  background: #1c1c1c;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(212, 163, 115, 0.3);
}

/* IMAGE */
.image-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* INFO */
.product-info {
  padding: 15px;
}

.product-info h5 {
  color: #0e0e0e;
}

.product-info p {
  color: #0e0e0e;
  font-size: 14px;
}

.product-info h6 {
  color: #d4a373;
  font-weight: bold;
}

/* BUTTONS */
.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.details-btn {
  background: #d4a373;
  color: black;
  border: none;
}

.details-btn:hover {
  background: #b08968;
}

.cart-btn {
  background: #333;
  color: white;
  border: none;
}

.cart-btn:hover {
  background: #555;
}

/* LOAD MORE */
.load-btn {
  background: #d4a373;
  border: none;
  color: black;
}

.load-btn:hover {
  background: #b08968;
}

/* RESET */
.reset-btn {
  background: #8b0000;
  color: white;
  border: none;
}
/* FILTER TEXT WHITE */
.filter-panel {
  color: #fff;
}

/* Checkbox text */
.ant-checkbox-wrapper,
.ant-checkbox + span {
  color: #fff !important;
}

/* Radio text */
.ant-radio-wrapper,
.ant-radio + span {
  color: #fff !important;
}
